<div class="row section">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <p style="text-align:left;">
        <h1><span><center>News</center></span></h1><br/>
        {{#if isPage1}}
        <article class="note note-partial">
            <time class="note-publish-datetime">August 14, 2016</time>
            <h2 class="note-title">NextDeploy v1.6 released!</h2>
            <div class="note-excerpt">
                <ul><li>A new cli command who integrates docker for launching containers on user workstation</li><li>Script executions from the webui</li><li>New technos available for vms: kibana, wkhtmltopdf</li><li>UX Improvements</li><li>Lot of bugfixes</li></ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-6 col-sm-1 col-sm-offset-6 col-md-1 col-md-offset-6">
                <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 2}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage2}}
        <article class="note note-partial">
            <time class="note-publish-datetime">June 15, 2016</time>
            <h2 class="note-title">NextDeploy v1.5 released!</h2>
            <div class="note-excerpt">
                <ul><li>Ci trigger: if enable, vm is updated with last version of project every 30 min</li>
                <li>Custom apache block option</li>
                <li>UX improvements</li></ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
          <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
          <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 1}} href=""></a>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1">
              <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 3}} href=""></a>
          </div>
        </div>
        {{/if}}

        {{#if isPage3}}
        <article class="note note-partial">
            <time class="note-publish-datetime">May 27, 2016</time>
            <h2 class="note-title">NextDeploy v1.4 released!</h2>
            <div class="note-excerpt">
                <ul><li>Backup feature</li><li>New cmds on cli</li><li>Can change user of vms</li><li>Ux improvements</li><li>And bugfixes</li></ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
          <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
          <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 2}} href=""></a>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1">
              <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 4}} href=""></a>
          </div>
        </div>
        {{/if}}

        {{#if isPage4}}
        <article class="note note-partial">
            <time class="note-publish-datetime">May 18, 2016</time>
            <h2 class="note-title">NextDeploy v1.3 released!</h2>
            <div class="note-excerpt">
                <ul><li>Prod hosting part</li><li>Custom uris</li><li>Nodejs builds</li><li>And other improvements</li></ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 3}} href=""></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
                <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 5}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage5}}
        <article class="note note-partial">
            <time class="note-publish-datetime">Apr 23, 2016</time>
            <h2 class="note-title">NextDeploy v1.2 released!</h2>
            <div class="note-excerpt">
                <ul><li>Monitoring graphs</li><li>Remote project folder sharing</li><li>Maintenance page</li><li>And some bugfixes</li></ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 4}} href=""></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
                <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 6}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage6}}
        <article class="note note-partial">
            <time class="note-publish-datetime">Apr 14, 2016</time>
            <h2 class="note-title">NextDeploy v1.1 released!</h2>
            <div class="note-excerpt">
                <ul><li>Mobile and responsive version of the webui</li><li>Import and Export features for vms</li><li>Add terminal vnc for vms on webui</li><li>Improve webui design</li><li>Improve performances on webui and on cloud</li><li>Optimize vm installing</li></ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 5}} href=""></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
                <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 7}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage7}}
        <article class="note note-partial">
            <time class="note-publish-datetime">Feb 29, 2016</time>
            <h2 class="note-title">NextDeploy v1.0 released!</h2>
            <div class="note-excerpt">
                <ul>
                  <li>Recode completely the webui with Ember v2.3.0</li>
                  <li>Give a choice of versions on services when an user starts a vm</li>
                  <li>Propose multiple version of nodejs</li>
                  <li>An Admin user can decide to start a vm without basicauth</li>
                  <li>Search field on webui</li>
                  <li>Paging system on webui</li>
                  <li>Ssh to a desired vm with ndeploy cli</li>
                  <li>Destroy a desired vm with ndeploy cli</li>
                </ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 6}} href=""></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
                <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 8}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage8}}
        <article class="note note-partial">
            <time class="note-publish-datetime">Jan 29, 2016</time>
            <h2 class="note-title">NextDeploy v0.15 released!</h2>
            <div class="note-excerpt">
                <ul>
                  <li>A project lead can add himself users with projects</li>
                  <li>Replace homepage with a wall of NextDeploy News</li>
                  <li>Some bugfixes</li>
                </ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 7}} href=""></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
            <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 9}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage9}}
        <article class="note note-partial">
            <time class="note-publish-datetime">Jan 17, 2016</time>
            <h2 class="note-title">NextDeploy v0.14 released!</h2>
            <div class="note-excerpt">
                <ul>
                  <li>Error modal on webui</li>
                  <li>performance tuning for REST API</li>
                  <li>some other improvements and bugfix</li>
                </ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 8}} href=""></a>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
            <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" 10}} href=""></a>
            </div>
        </div>
        {{/if}}

        {{#if isPage10}}
        <article class="note note-partial">
            <time class="note-publish-datetime">Jan 03, 2016</time>
            <h2 class="note-title">NextDeploy v0.13 released!</h2>
            <div class="note-excerpt">
                <ul>
                  <li>Complete code review (mainly rails and ember parts)</li>
                  <li>Stable and more optimized.</li>
                </ul>
            </div>
        </article><br/>
        <div class="navbar-fixed-bottom">
            <div class="col-xs-2 col-xs-offset-4 col-sm-1 col-sm-offset-5 col-md-1 col-md-offset-5">
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" 9}} href=""></a>
            </div>
        </div>
        {{/if}}
        </p>
    </div>
</div>
