<div class="row section">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 screens">
        
    <h1>{{screenTitle}}</h1><br/>
    <div class="note note-partial">
      <img src="/images/screens/{{currentPage}}.png" alt="{{{screenDesc}}}" class="img-responsive" border="0"/>
      <p><div class="navbar-fixed-bottom">
        <div class="col-md-1 col-md-offset-5">
          {{#if previousPage}}
            <a class="fa fa-long-arrow-left fa-lg" {{action "togglePage" previousPage}} href=""></a>
          {{else}}&nbsp;{{/if}}
        </div>
  
        <div class="col-md-1">
          {{#if nextPage}}
            <a class="fa fa-long-arrow-right fa-lg" {{action "togglePage" nextPage}} href=""></a>
          {{else}}&nbsp;{{/if}}
        </div>
      </div></p>
    </div>
    </div>
    
    <div class="col-xs-0 col-sm-0 col-md-3"><p class="simplify vertical-center">{{{screenDesc}}}</p></div>
</div>